{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<link rel="dns-prefetch" href="//cdn.jsdmirror.com">
<link rel="preconnect" href="https://cdn.jsdmirror.com" crossorigin>
<link rel="dns-prefetch" href="//an-img.oss-cn-hangzhou.aliyuncs.com">
<link rel="preconnect" href="https://an-img.oss-cn-hangzhou.aliyuncs.com" crossorigin>
<script>
if(!/Macintosh/.test(navigator.userAgent)){
  ["https://cdn.jsdmirror.com/npm/charter-webfont@4/charter.min.css",
   "https://cdn.jsdmirror.com/npm/@fontsource/noto-serif-sc@latest/400.css"
  ].forEach(function(h){var l=document.createElement("link");l.rel="stylesheet";l.href=h;document.head.appendChild(l)})
}
</script>
<style>
.post-content .highlight{overflow-x:auto}
.post-content pre code{word-break:normal}
</style>

{{ if or (in .Content "img") }}
{{- $fancybox_css := (resources.Get "css/includes/fancybox.css") }}
{{- $fancyboxcss := (slice $fancybox_css) | resources.Concat "assets/css/fancyboxcss.css" | resources.Minify }}
<link crossorigin="anonymous" href="{{ $fancyboxcss.RelPermalink }}" integrity="{{ $fancyboxcss.Data.Integrity }}" rel="stylesheet">

{{- $fancyboxjs := resources.Get "js/fancybox.umd.js" }}
{{- $fancybox := (slice $fancyboxjs ) | resources.Concat "assets/js/fancybox.js" }}
<script crossorigin="anonymous" src="{{ $fancybox.RelPermalink }}" integrity="{{ $fancybox.Data.Integrity }}" defer></script>

{{ end }}


{{ if findRE "mindmap" .Content }}
  {{ $css := resources.Get "css/includes/mind-elixir.css" | minify }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}

{{ if or (findRE "mindmap" .Content) .Params.math }}
  {{ $katexcss := resources.Get "css/includes/katex.min.css" | minify }}
  <link rel="stylesheet" href="{{ $katexcss.RelPermalink }}">
{{ end }}
