{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<!-- MathJax Support -->
{{ partial "mathjax.html" . }}

<!-- 文章字体设置 -->
<!-- <link rel="stylesheet" href="https://cdn.jsdmirror.com/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css" async/> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdmirror.com/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" async/> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdmirror.com/npm/lxgw-wenkai-lite-webfont@1.1.0/lxgwwenkailite-regular.css" async/>
<link rel="stylesheet" href="https://cdn.jsdmirror.com/npm/lxgw-wenkai-lite-webfont@1.1.0/lxgwwenkailite-bold.css" async/> -->

<link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-webfont/style.css" async/>
<!-- Screen version -->
<!-- <link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css" /> -->
