{{- define "main" }}
<article class="post-single">
    <header class="post-header">
        {{ partial "breadcrumbs.html" . }}
        <h1 class="post-title">{{ .Title }}</h1>
        {{- with .Description }}<div class="post-description">{{ . }}</div>{{ end }}
        {{- if not (.Param "hideMeta") }}<div class="post-meta">{{ partial "post_meta.html" . }}</div>{{ end }}
    </header>
    {{- partial "toc.html" . }}
    <div id="post-content" class="post-content">{{ .Content }}</div>
    {{- with .GetTerms "tags" }}
    <footer class="post-footer"><ul class="post-tags">{{ range . }}<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>{{ end }}</ul></footer>
    {{- end }}
</article>
{{- end }}
