:root {
    --main-width: 1080px;
    --nav-width: 1080px;
}

@media (min-width: 1280px) {
    :root {
        --main-width: 1120px;
        --nav-width: 1120px;
    }
}

@media (min-width: 1600px) {
    :root {
        --main-width: 1180px;
        --nav-width: 1180px;
    }
}
