
/* 节点文字整体基调 */
.markmap-foreign {
    font-family: Charter, "Iowan Old Style", Georgia, "Times New Roman", serif;
    font-size: 18px;
    line-height: 1.25;
}

/* 默认节点：做成浅灰卡片 */
.markmap-node .markmap-foreign > div {
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04);
    white-space: nowrap; /* 你图里基本是一行 */
}

svg.markmap .markmap-foreign img {
  max-width: 300px;
  height: auto;
}