::-webkit-scrollbar-track {
    background: 0 0;
}

.list::-webkit-scrollbar-track {
    background: var(--code-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--g300);
    border: 5px solid var(--theme);
    border-radius: 999px;
}

.list::-webkit-scrollbar-thumb {
    border: 5px solid var(--code-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--g500);
}

::-webkit-scrollbar:not(.highlighttable, .highlight table, .gist .highlight) {
    background: var(--theme);
}

.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
    display: none;
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
    border: 2px solid var(--code-block-bg);
    background: var(--g300);
    border-radius: 999px;
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
    background: var(--g500);
}

.gist table::-webkit-scrollbar-thumb {
    border: 2px solid var(--paper);
    background: var(--g300);
}

.gist table::-webkit-scrollbar-thumb:hover {
    background: var(--g500);
}

.post-content table::-webkit-scrollbar-thumb {
    border-width: 2px;
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 16px;
        height: 0px;
    }
}
